.hamburger-menu {
    display: none;
}
@media screen and (max-width: 600px) {

    .entry-header {
        background-position: center;
        background-size: 250%;
    }
    .site-navigation {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .entry-header-container .button-primary {
        width:25%;
    }

    .site-logos{
        padding: 10px 75px;
    }
    .site-logos-container {
        display: grid;
        min-width: 100%;
        gap: 25px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .site-main {
        margin: 0;
    }
    .site-information-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0;
    }
    .site-information-text .entry-description {
        margin: 5px auto;
        font-size: 18px;
        width:100%;
    }
    .site-information-text .entry-subtitle{
        font-size: 27px;
    }
    .site-information-text .entry-title {
        font-size: 45px;
    }
    .site-information-image {
        display: none;
    }
    .site-information-text .button-primary {
        width: 33%;
    }

    .site-form-container .entry-title {
        font-size: 12px;
    }

    .site-form form p {
        flex-wrap: wrap;
        justify-content: center;
    }
    .site-form form p input {
        width: 100%;
    }

    .site-form form .button-primary{
        margin: 0 auto;
    }

    .site-blog .entry-title {
        font-size: 47px;
        width: 70%;
        margin: 7px auto;
    }
    .site-posts {
        display: grid;
        width: 70%;
        margin: 20px auto;
    }
    .site-footer {
        display: block;
        text-align: center;
    }
    footer a {
        display: block;
    }
}